@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

body {
  background-color: #FAF9F6;
}

body, p, h1, h2 {
  margin: 0;
  padding: 0;
}

/* header section */
.header {
  background-color: #fff;
  height: 8vh;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.container h1 {
  font-weight: bold;
}

.container button {
  width:4rem;
  height:2.5rem;
  border:none;
  border-radius:8px;
  font-size:17px;
  font-weight:600;
  color:#000;
  cursor:pointer;
}

.container button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}


/* content section */
.content {
  padding: 20px 0;
  margin: 20px auto 0;
  max-width: 1200px;
  text-align: center;
}

button#showDialog {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  height: 2.5em;
  border-radius:8px;
}

button#showDialog:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.content .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  margin-top: 40px;
}

.wrapper .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
  font-size: larger;
}

.card button {
  height: 2.5em;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.card button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.card button.read {
  background-color: lightgreen
}

.card button.unread {
  background-color: lightcoral
}


/* dialog section */
#addDialog {
  padding: 0;
  border: none;
  border-radius: 8px;
}

#preventClose {
  padding: 1em;
  background-color: #FAF9F6;
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

form .isRead {
  display: flex;
  gap: 0.5em;
}

input {
  font-size: large;
}

input.required {
  padding: 0.8em;
  border: none;
  border-radius: 8px;
}

input.required:focus {
  outline: none;
}

input#readCheck {
  transform: scale(1.5);
}

label {
  font-size: 1.1em;
}

button#submitBtn {
  background-color: lightgreen;
  color: #000;
  height: 2.5em;
  width: 100%;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

button#submitBtn:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

/* masking for later */
/* #page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
} */