body {
  font-size: 16px;
}

body, p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.content {
  background-color: #FAF9F6;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.wrapper .card {
  background-color: seashell;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#addDialog {
  padding: 0;
}

#preventClose {
  padding: 1em;
}